dtds/quip.dtd


<!ELEMENT TS_params (comment|per_type_data|per_pair_data)*>
<!ATTLIST TS_params
  betapol CDATA #IMPLIED
  cutoff_coulomb CDATA #IMPLIED
  cutoff_ms CDATA #IMPLIED
  label CDATA #IMPLIED
  maxipol CDATA #IMPLIED
  n_types CDATA #REQUIRED
  pred_order CDATA #IMPLIED
  tdip_sr CDATA #IMPLIED
  tolpol CDATA #IMPLIED
  yukalpha CDATA #IMPLIED
  yuksmoothlength CDATA #IMPLIED
>

<!ELEMENT BOP_params (comment|per_type_data)*>
<!ATTLIST BOP_params
  cutoff CDATA #IMPLIED
  label CDATA #IMPLIED
  n_types CDATA #REQUIRED
>

<!ELEMENT Brenner_params (comment|per_type_data|per_pair_data|per_triplet_data)*>
<!ATTLIST Brenner_params
  label CDATA #IMPLIED
  n_types CDATA #REQUIRED
>

<!ELEMENT Brenner_2002_params (comment|per_type_data)*>
<!ATTLIST Brenner_2002_params
  cutoff CDATA #IMPLIED
  label CDATA #IMPLIED
  n_types CDATA #REQUIRED
>

<!ELEMENT Brenner_Screened_params (comment|per_type_data)*>
<!ATTLIST Brenner_Screened_params
  cutoff CDATA #IMPLIED
  label CDATA #IMPLIED
  n_types CDATA #REQUIRED
>

<!ELEMENT Coulomb_params (comment|per_type_data)*>
<!ATTLIST Coulomb_params
  cutoff CDATA #IMPLIED
  dsf_alpha CDATA #IMPLIED
  ewald_error CDATA #IMPLIED
  label CDATA #IMPLIED
  method CDATA #IMPLIED
  n_types CDATA #REQUIRED
  yukawa_alpha CDATA #IMPLIED
  yukawa_grid_size CDATA #IMPLIED
  yukawa_pseudise CDATA #IMPLIED
  yukawa_smooth_length CDATA #IMPLIED
>

<!ELEMENT EAM_ErcolAd_params (comment|per_type_data|per_pair_data|spline_V|spline_rho|spline_F)*>
<!ATTLIST EAM_ErcolAd_params
  label CDATA #IMPLIED
  n_spline_F CDATA #IMPLIED
  n_spline_V CDATA #IMPLIED
  n_spline_rho CDATA #IMPLIED
  n_types CDATA #REQUIRED
>

<!ELEMENT Einstein_params (comment|per_type_data)*>
<!ATTLIST Einstein_params
  cutoff CDATA #IMPLIED
  label CDATA #IMPLIED
  n_types CDATA #REQUIRED
  ref_file CDATA #IMPLIED
>

<!ELEMENT FB_params (comment|per_type_data|per_pair_data)*>
<!ATTLIST FB_params
  cutoff CDATA #IMPLIED
  label CDATA #IMPLIED
  n_types CDATA #REQUIRED
>

<!ELEMENT FC_params (comment|FC)*>
<!ATTLIST FC_params
  cutoff CDATA #IMPLIED
  label CDATA #IMPLIED
  max_n_fcs CDATA #IMPLIED
  n_types CDATA #REQUIRED
>

<!ELEMENT FS_params (comment|per_type_data|per_pair_data)*>
<!ATTLIST FS_params
  label CDATA #IMPLIED
  n_types CDATA #REQUIRED
>

<!ELEMENT GAP_params (comment|GAP_data|water_monomer_params|water_dimer_params|bispectrum_so4_params|qw_so3_params|radial_function|per_type_data|command_line)*>
<!ATTLIST GAP_params
  label CDATA #IMPLIED
>

<!ELEMENT Glue_params (comment|per_type_data|density|potential_density|potential_neighbours)*>
<!ATTLIST Glue_params
  label CDATA #IMPLIED
  n_types CDATA #REQUIRED
>

<!ELEMENT LJ_params (comment|per_type_data|per_pair_data)*>
<!ATTLIST LJ_params
  label CDATA #IMPLIED
  n_types CDATA #REQUIRED
>

<!ELEMENT Morse_params (comment|pair)*>
<!ATTLIST Morse_params
  label CDATA #IMPLIED
  n_types CDATA #REQUIRED
>

<!ELEMENT SW_params (comment|per_type_data|per_pair_data|per_triplet_data)*>
<!ATTLIST SW_params
  label CDATA #IMPLIED
  n_types CDATA #REQUIRED
>

<!ELEMENT Si_MEAM_params (comment|per_type_data|per_pair_data|per_triplet_data|spline)*>
<!ATTLIST Si_MEAM_params
  label CDATA #IMPLIED
  n_types CDATA #REQUIRED
>

<!ELEMENT Template_params (comment|per_type_data)*>
<!ATTLIST Template_params
  cutoff CDATA #IMPLIED
  label CDATA #IMPLIED
  n_types CDATA #REQUIRED
>

<!ELEMENT Tersoff_params (comment|per_type_data|per_pair_data)*>
<!ATTLIST Tersoff_params
  label CDATA #IMPLIED
  n_types CDATA #REQUIRED
>

<!ELEMENT Potential (comment|Bowler_params|per_type_data|defaults|per_pair_data)*>
<!ATTLIST Potential
  init_args CDATA #IMPLIED
  label CDATA #IMPLIED
>

<!ELEMENT DFTB_params (comment|defaults|n_types|cutoff|max_n_orb_sets|per_type_data|per_pair_data|H_spline|S_spline|Vrep_spline)*>
<!ATTLIST DFTB_params
  label CDATA #IMPLIED
>

<!ELEMENT GSP_params (comment|per_type_data|defaults|per_pair_data)*>
<!ATTLIST GSP_params
  cutoff CDATA #IMPLIED
  cutoff_H CDATA #IMPLIED
  label CDATA #IMPLIED
  n_types CDATA #REQUIRED
  tailx0 CDATA #IMPLIED
>

<!ELEMENT NRL_TB_params (comment|defaults|header|n_types|per_type_data|orb_set_type|per_pair_data|abcd|H_coeff|S_coeff)*>
<!ATTLIST NRL_TB_params
  label CDATA #IMPLIED
>

<!ELEMENT self_consistency (comment|U|stoner_params)*>
<!ATTLIST self_consistency
  global_U CDATA #IMPLIED
  max_stoner_manifolds CDATA #IMPLIED
  tolerance CDATA #IMPLIED
>

<!ELEMENT dipole_model (comment|element)*>
<!ELEMENT spin_orbit_coupling (comment|element)*>
<!ELEMENT KPoints (comment|point)*>
<!ATTLIST KPoints
  N CDATA #IMPLIED
>

<!ELEMENT command_line EMPTY>
<!ELEMENT Vrep_spline (point)*>
<!ELEMENT orb_set_type (#PCDATA)>
<!ELEMENT S_spline (point)*>
<!ELEMENT abcd EMPTY>
<!ELEMENT Bowler_params EMPTY>
<!ATTLIST Bowler_params
  cutoff CDATA #IMPLIED
  label CDATA #IMPLIED
  n_types CDATA #REQUIRED
  tailx0 CDATA #IMPLIED
>

<!ELEMENT E (#PCDATA)>
<!ELEMENT bispectrum_so4_params EMPTY>
<!ATTLIST bispectrum_so4_params
  cutoff CDATA #IMPLIED
  j_max CDATA #IMPLIED
  z0 CDATA #IMPLIED
>

<!ELEMENT pair EMPTY>
<!ATTLIST pair
  D CDATA #IMPLIED
  alpha CDATA #IMPLIED
  atnum_i CDATA #IMPLIED
  atnum_j CDATA #IMPLIED
  cutoff CDATA #IMPLIED
  r0 CDATA #IMPLIED
>

<!ELEMENT per_type_data (orb_set_type|E)*>
<!ATTLIST per_type_data
  A CDATA #IMPLIED
  B CDATA #IMPLIED
  C CDATA #IMPLIED
  E_d CDATA #IMPLIED
  E_p CDATA #IMPLIED
  E_s CDATA #IMPLIED
  R CDATA #IMPLIED
  Rcut CDATA #IMPLIED
  Rtail CDATA #IMPLIED
  S CDATA #IMPLIED
  V_F_shift CDATA #IMPLIED
  Z CDATA #IMPLIED
  atomic_mass CDATA #IMPLIED
  atomic_num CDATA #IMPLIED
  beta CDATA #IMPLIED
  c CDATA #IMPLIED
  charge CDATA #IMPLIED
  d CDATA #IMPLIED
  h CDATA #IMPLIED
  i CDATA #IMPLIED
  lambda CDATA #IMPLIED
  lambda0 CDATA #IMPLIED
  lambda_sq CDATA #IMPLIED
  lambda_sq_down CDATA #IMPLIED
  lambda_sq_up CDATA #IMPLIED
  m CDATA #IMPLIED
  mu CDATA #IMPLIED
  n CDATA #IMPLIED
  n_elecs CDATA #IMPLIED
  n_orb_sets CDATA #IMPLIED
  n_orbs CDATA #IMPLIED
  nu CDATA #IMPLIED
  pol CDATA #IMPLIED
  spring_constant CDATA #IMPLIED
  type CDATA #IMPLIED
  weight CDATA #IMPLIED
  z CDATA #IMPLIED
>

<!ELEMENT potential_density EMPTY>
<!ATTLIST potential_density
  num_points CDATA #IMPLIED
>

<!ELEMENT per_pair_data (point|H_spline|S_spline|Vrep_spline)*>
<!ATTLIST per_pair_data
  A CDATA #IMPLIED
  A1 CDATA #IMPLIED
  A2 CDATA #IMPLIED
  A3 CDATA #IMPLIED
  A4 CDATA #IMPLIED
  AA CDATA #IMPLIED
  Atau_ddd CDATA #IMPLIED
  Atau_ddp CDATA #IMPLIED
  Atau_dds CDATA #IMPLIED
  B CDATA #IMPLIED
  BB CDATA #IMPLIED
  B_pol CDATA #IMPLIED
  C CDATA #IMPLIED
  C_pol CDATA #IMPLIED
  D_ms CDATA #IMPLIED
  De CDATA #IMPLIED
  H_ddd CDATA #IMPLIED
  H_ddp CDATA #IMPLIED
  H_dds CDATA #IMPLIED
  H_ppp CDATA #IMPLIED
  H_pps CDATA #IMPLIED
  H_pss CDATA #IMPLIED
  H_sps CDATA #IMPLIED
  H_sss CDATA #IMPLIED
  O_ddd CDATA #IMPLIED
  O_ddp CDATA #IMPLIED
  O_dds CDATA #IMPLIED
  R1 CDATA #IMPLIED
  R2 CDATA #IMPLIED
  R3 CDATA #IMPLIED
  R4 CDATA #IMPLIED
  R_ms CDATA #IMPLIED
  Rcore CDATA #IMPLIED
  Re CDATA #IMPLIED
  S CDATA #IMPLIED
  SK_cutoff CDATA #IMPLIED
  SK_npts CDATA #IMPLIED
  Vrep CDATA #IMPLIED
  Vrep_cutoff CDATA #IMPLIED
  Vrep_npts CDATA #IMPLIED
  Z1 CDATA #IMPLIED
  Z2 CDATA #IMPLIED
  a CDATA #IMPLIED
  atnum_i CDATA #IMPLIED
  atnum_j CDATA #IMPLIED
  atomic_num_i CDATA #IMPLIED
  atomic_num_j CDATA #IMPLIED
  beta CDATA #IMPLIED
  c CDATA #IMPLIED
  c0 CDATA #IMPLIED
  c1 CDATA #IMPLIED
  c2 CDATA #IMPLIED
  chi CDATA #IMPLIED
  cutoff CDATA #IMPLIED
  d CDATA #IMPLIED
  dc CDATA #IMPLIED
  delta CDATA #IMPLIED
  deltatau0_ddd CDATA #IMPLIED
  deltatau0_ddp CDATA #IMPLIED
  deltatau0_dds CDATA #IMPLIED
  energy_shift CDATA #IMPLIED
  eps CDATA #IMPLIED
  eps12 CDATA #IMPLIED
  eps6 CDATA #IMPLIED
  gamma_ms CDATA #IMPLIED
  linear_force_shift CDATA #IMPLIED
  m CDATA #IMPLIED
  mc CDATA #IMPLIED
  n CDATA #IMPLIED
  na CDATA #IMPLIED
  nb CDATA #IMPLIED
  nc CDATA #IMPLIED
  p CDATA #IMPLIED
  pair_rep_inner CDATA #IMPLIED
  pair_rep_outer CDATA #IMPLIED
  pseudise_sigma CDATA #IMPLIED
  q CDATA #IMPLIED
  r0 CDATA #IMPLIED
  r_cut CDATA #IMPLIED
  r_cut_f CDATA #IMPLIED
  r_cut_phi CDATA #IMPLIED
  r_cut_rho CDATA #IMPLIED
  r_min CDATA #IMPLIED
  rc CDATA #IMPLIED
  screen_l CDATA #IMPLIED
  shift CDATA #IMPLIED
  sigma CDATA #IMPLIED
  type1 CDATA #IMPLIED
  type2 CDATA #IMPLIED
>

<!ELEMENT cutoff EMPTY>
<!ATTLIST cutoff
  v CDATA #IMPLIED
>

<!ELEMENT spline_V EMPTY>
<!ELEMENT element EMPTY>
<!ATTLIST element
  SO_params CDATA #IMPLIED
  Z CDATA #IMPLIED
  gaussian_widths CDATA #IMPLIED
  n_orb_sets CDATA #IMPLIED
  orb_set_phases CDATA #IMPLIED
  orb_set_types CDATA #IMPLIED
>

<!ELEMENT density EMPTY>
<!ATTLIST density
  a CDATA #IMPLIED
  density_y1 CDATA #IMPLIED
  density_yn CDATA #IMPLIED
  num_points CDATA #IMPLIED
  scale CDATA #IMPLIED
>

<!ELEMENT stoner_params EMPTY>
<!ATTLIST stoner_params
  Z CDATA #IMPLIED
  n_stoner_params CDATA #IMPLIED
  stoner_params CDATA #IMPLIED
>

<!ELEMENT GAP_data EMPTY>
<!ATTLIST GAP_data
  coordinates CDATA #IMPLIED
  e0 CDATA #IMPLIED
  f0 CDATA #IMPLIED
  n_species CDATA #IMPLIED
>

<!ELEMENT water_monomer_params EMPTY>
<!ATTLIST water_monomer_params
  cutoff CDATA #IMPLIED
>

<!ELEMENT U EMPTY>
<!ATTLIST U
  U CDATA #IMPLIED
  Z CDATA #IMPLIED
>

<!ELEMENT FC EMPTY>
<!ATTLIST FC
  atnum_i CDATA #IMPLIED
  atnum_j CDATA #IMPLIED
  fc_i CDATA #IMPLIED
  phi2 CDATA #IMPLIED
  phi3 CDATA #IMPLIED
  phi4 CDATA #IMPLIED
  r0 CDATA #IMPLIED
>

<!ELEMENT H_spline (point)*>
<!ELEMENT S_coeff EMPTY>
<!ELEMENT water_dimer_params EMPTY>
<!ATTLIST water_dimer_params
  cutoff CDATA #IMPLIED
>

<!ELEMENT defaults EMPTY>
<!ATTLIST defaults
  band_width CDATA #IMPLIED
  fermi_T CDATA #IMPLIED
  fermi_e CDATA #IMPLIED
  k_density CDATA #IMPLIED
>

<!ELEMENT spline_rho EMPTY>
<!ELEMENT max_n_orb_sets EMPTY>
<!ATTLIST max_n_orb_sets
  v CDATA #IMPLIED
>

<!ELEMENT n_types EMPTY>
<!ATTLIST n_types
  v CDATA #IMPLIED
>

<!ELEMENT spline_F EMPTY>
<!ELEMENT radial_function EMPTY>
<!ATTLIST radial_function
  cutoff CDATA #IMPLIED
  cutoff_r1 CDATA #IMPLIED
  cutoff_type CDATA #IMPLIED
  i CDATA #IMPLIED
>

<!ELEMENT potential_neighbours EMPTY>
<!ATTLIST potential_neighbours
  num_neighbours CDATA #IMPLIED
  num_points CDATA #IMPLIED
>

<!ELEMENT qw_so3_params EMPTY>
<!ATTLIST qw_so3_params
  do_q CDATA #IMPLIED
  do_w CDATA #IMPLIED
  l_max CDATA #IMPLIED
  n_radial CDATA #IMPLIED
>

<!ELEMENT per_triplet_data EMPTY>
<!ATTLIST per_triplet_data
  a0 CDATA #IMPLIED
  atnum_c CDATA #IMPLIED
  atnum_j CDATA #IMPLIED
  atnum_k CDATA #IMPLIED
  atomic_num_i CDATA #IMPLIED
  atomic_num_j CDATA #IMPLIED
  atomic_num_k CDATA #IMPLIED
  c0 CDATA #IMPLIED
  d0 CDATA #IMPLIED
  eps CDATA #IMPLIED
  gamma CDATA #IMPLIED
  lambda CDATA #IMPLIED
>

<!ELEMENT H_coeff EMPTY>
<!ELEMENT point (#PCDATA)>
<!ATTLIST point
  E CDATA #IMPLIED
  a CDATA #IMPLIED
  b CDATA #IMPLIED
  c CDATA #IMPLIED
  d CDATA #IMPLIED
  r CDATA #IMPLIED
  rho CDATA #IMPLIED
  weight CDATA #IMPLIED
  x CDATA #IMPLIED
  y CDATA #IMPLIED
>

<!ELEMENT comment (#PCDATA)>
<!ELEMENT spline EMPTY>
<!ATTLIST spline
  n_spline CDATA #IMPLIED
  spline_function CDATA #IMPLIED
  yp1 CDATA #IMPLIED
  ypn CDATA #IMPLIED
>

<!ELEMENT header EMPTY>
<!ATTLIST header
  force_harrison_signs CDATA #IMPLIED
  has_pair_repulsion CDATA #IMPLIED
  is_magnetic CDATA #IMPLIED
  is_orthogonal CDATA #IMPLIED
  overlap_zero_limit CDATA #IMPLIED
>

<!ENTITY % QUIP_params "TS_params|BOP_params|Brenner_params|Brenner_2002_params|Brenner_Screened_params|Coulomb_params|EAM_ErcolAd_params|Einstein_params|FB_params|FC_params|FS_params|GAP_params|Glue_params|LJ_params|Morse_params|SW_params|Si_MEAM_params|Template_params|Tersoff_params|Potential|DFTB_params|GSP_params|NRL_TB_params|self_consistency|dipole_model|spin_orbit_coupling|KPoints">

<!ELEMENT QUIP_params (%QUIP_params;)*>
